.logo img {
	width: 70%;
	padding: 1rem 0;
}

.f-r img {
	float: right;
	width: 100%;
}

.f-r {
	display: flex;
	align-items: center;
}

.logo div {
	display: flex;
	justify-content: space-evenly;
}

h2 {
	margin-bottom: 3.5rem !important;
	font-weight: bold !important;
}

li>a {
	text-decoration: none !important;
	color: white;
	display: block;
	margin: 0 1rem;
	height: 3rem;
	padding: 0.5rem;
}

.menu li {
	display: inline-block;
	color: white !important;
    font-size: 1.3rem;
}

.menu ul {
	background-color: dimgray;
	text-align: center;
	filter: drop-shadow(2px 4px 6px black);
	border-radius: 0 0 30px 30px;
}

.menu a {
	white-space: nowrap;
}

.menu a:hover {
	background-color: darkgray;
	color: white;
	filter: drop-shadow(2px 4px 6px black);
}

.header-text {
	text-align: right;
	margin-bottom: 3rem;
}

section {
	margin-bottom: 3rem;
}
